body {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    background: #111;
    color: white;

    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;  /* 🔥 clave */
    gap: 20px;
    width: 100%;
    max-width: 900px;
    padding: 40px;
}

.card {
    background: #ffeb3b;
    color: #111;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 16px;
    border-radius: 12px;

    margin-bottom: 16px;
    
    transition: transform 0.2s ease;
}

.card {
    
}

.card:hover {
    transform: scale(1.02);
}

.app-info {
    display: flex;
    align-items: center;
    gap: 16px;
    flex: 1;
}

.app-info img {
    width: 100px;
    height: 100px;
}

.app-info h2 {
    font-size: 40px; /* proporcional al icono */
    margin: 0;
    line-height: 100px;
}

.app-header {
    display: flex;
    align-items: center;
    gap: 12px;
}

.app-header img {
    width: 48px;
    height: 48px;
}

.app-header h2 {
    margin: 0;
    font-size: 20px;
    line-height: 48px; /* mismo alto que el icono */
}

.download-btn {
    background: #1e1e1e;
    color: white;

    text-decoration: none;

    padding: 16px 24px;
    border-radius: 10px;

    font-size: 20px;

    display: flex;
    align-items: center;
    gap: 8px;

    margin-left: auto;
}

.download-btn.disabled,
.download-btn:disabled {
    background: #555;
    color: #aaa;
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.6;
}

.download-btn:hover {
    background: #333;
}
